<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <style>
        .welcome {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100vh;
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;;
        }
        h1 {
            font-size: 28px;
        }
    </style>
</head>
<body>
    <div class="welcome">
        <h1>Welcome to Basic API Challenge!</h1>
        <span>
            Something wrong with my user database
        </span>
        <span>
            You can access using /api/user/:id
        </span>
    </div>
</body>
</html>
